@use '../../variables/variables.scss' as *;

.destination {
  margin: 1rem 10rem;

  color: white;

  .pages-title {
    @include Barlow_Light;
    text-transform: uppercase;
    color: white;

    span {
      @include Barlow_Bold;
      color: $primary_Blue-900;
      margin-right: 1.5rem;
    }
  }

  .destination-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .destination-image-container {
      width: 480px;
      height: 480px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .destination-image {
        width: 90%;
      }
    }

    .destination-explanation-container {
      width: 480px;
      height: 480px;
      display: flex;
      flex-direction: column;

      gap: 2rem;

      .destination-text {
        border-bottom: 1px solid $primary_Blue-300;
        padding-bottom: 2.5rem;

        .destination-name {
          @include Bellfair_Regular;
          font-size: 6rem;
          text-transform: uppercase;
        }

        .destination-description {
          @include Barlow_Thin;
          font-size: 1.125rem;
          color: $primary_Blue-300;
        }
      }

      .destination-statistics {
        display: flex;
        gap: 1.5rem;
        .destination-info {
          .destination-info-title {
            @include Barlow_Light;
            text-transform: uppercase;
            font-size: 0.875rem;
            color: $primary_Blue-300;
          }

          .destination-info-hero {
            @include Bellfair_Regular;
            text-transform: uppercase;
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}
