@media only screen and (max-width: 1060px) {
  .home {
    flex-direction: column;
    margin: 8rem 2.5rem;
    gap: 4.125rem;

    .home-description {
      text-align: center;
      align-items: center;

      .home-paragraph {
        line-height: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .home {
    margin: 1.5rem;
    .home-description {
      width: 327px;
      .home-text {
        font-size: 1rem;
      }
      .home-title {
        font-size: 5rem;
      }
      .home-paragraph {
        font-size: 0.9rem;
      }
    }
  }
}
