$spacing_1600: 128px;
$spacing_1200: 96px;
$spacing_1000: 80px;
$spacing_800: 64px;
$spacing_600: 48px;
$spacing_500: 40px;
$spacing_400: 32px;
$spacing_300: 24px;
$spacing_200: 16px;
$spacing_150: 12px;
$spacing_100: 8px;
$spacing_50: 4px;
$spacing_25: 2px;
