@use '../variables/variables.scss' as *;

@keyframes leftToRight {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.destination-list {
  @include Barlow_Regular;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: start;
  gap: 2rem;

  transition: all 0.3s ease-in-out;
  .destination-item {
    position: relative;
    font-size: 1rem;
    color: $neutral_White-900;

    cursor: pointer;
  }
}

.destination-item-active {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: $neutral_White-900;

    animation: leftToRight 0.3s ease-in-out forwards;

    transition: all 0.3s ease-in-out;
  }
}
