@use '../variables/variables.scss' as *;

.loading-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;

  color: white;

  .loading-state-text {
    @include Bellfair_Regular;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
