@use '../../variables/variables.scss' as *;

.not-found {
  margin: 0 10rem 2rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  color: white;

  .not-found-hero {
    .not-found-title {
      @include Bellfair_Regular;
      font-size: 10rem;
      line-height: 8rem;
    }

    .not-found-text {
      @include Bellfair_Regular;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }

  .not-found-content {
    .not-found-description {
      @include Barlow_Thin;
      color: $primary_Blue-300;
      font-size: 1.25rem;
    }
    .not-found-direction {
      margin-top: 0.5rem;
      @include Barlow_Thin;
    }
  }
}
