@use '../../variables/variables.scss' as *;

.home {
  color: $neutral_White-900;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 8rem 1rem 8rem;

  min-height: 80vh;

  .home-description {
    display: flex;
    flex-direction: column;

    width: 540px;
    .home-text {
      @include Barlow_Light;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-size: 1.75rem;
      color: $primary_Blue-300;
    }
    .home-title {
      @include Bellfair_Regular;
      text-transform: uppercase;
      font-size: 9rem;
    }
    .home-paragraph {
      @include Barlow_Light;
      color: $primary_Blue-300;
      font-size: 1rem;
    }
  }
}
